<!-- _layouts/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} – {% endif %}An Average Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts & CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;600;700&display=swap"
        rel="stylesheet">



    <!-- JS Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js" defer></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" defer></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js" defer></script>
    <script src="/assets/js/main.js" defer></script>

    {% if page.custom_css %}
    <link rel="stylesheet" href="{{ page.custom_css }}">{% endif %}
    {% if page.custom_js %}
    <script src="{{ page.custom_js }}" defer></script>{% endif %}
</head>

<body>
    {% include navbar.html %}
    {{ content }}

    {% include footer.html %}
    <button id="scrollToTop" aria-label="Scroll to top">↑</button>

    <script>
        const scrollBtn = document.getElementById('scrollToTop');

        window.addEventListener('scroll', () => {
            scrollBtn.style.display = window.scrollY > 300 ? 'block' : 'none';
        });

        scrollBtn.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>

</body>

</html>